/*
 *  Create Stylus CSS
 *  Author Akiraoka
 */

// Color Variable
orange-color        = #FF8A00
papayawhip-color    = #FFFAE6
light-success-color = #7FE9AE

// Set Body CSS
body
    background-color: 'papayawhip-color'

// Grid CSS